.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    
}

.containerTop{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    
}

.containerLeft{
    margin-top: 50px;
    width: 400px;
    height: 600px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2, 0, 36, 0.226) 0%, rgba(74, 84, 126, 0.397) 35%, rgba(37, 70, 130, 0.747) 96%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;

}

.containerLeftText{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 60px;
}

.containerMid{
    margin-top: 100px;
    width: 200px;
    height: 200px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2, 0, 36, 0.034) 0%, rgba(74, 84, 126, 0.397) 35%, rgba(37,69,130,1) 96%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.containerRight{
    margin-top: 50px;
    width: 400px;
    height: 600px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2, 0, 36, 0.24) 0%, rgba(74, 84, 126, 0.397) 35%, rgba(37, 70, 130, 0.699) 96%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;

}

.title{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
  }

  .buttonGenerateInvitation{
    font-family: 'Raleway', sans-serif;
    color: #6969e9;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 20px;
    margin-top: 25px;
    
    
}