.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerCreateCommunity{
    width: 500px;
    height: 600px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2, 0, 36, 0.226) 0%, rgba(74, 84, 126, 0.637) 35%, rgba(37, 70, 130, 0.747) 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.inputs{
    height: 30px;
    width: 400px;
    font-weight: bolder;
    border-radius: 20px;
    margin-top: 25px;
    border: #ffffff 3px solid;
}

h1{
    font-size: 20px;
}

.buttonGenerateInvitation{
    font-family: 'Raleway', sans-serif;
    color: #6969e9;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 20px;
    margin-top: 25px;
    
    
}
.title{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
  }
