@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400;1,600;1,700;1,800&display=swap');

.homeContainer {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    height: 100vh; 
}

.welcomeContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 100%;
}
.welcome {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #5152C3;
    text-transform: uppercase;
    margin-top: 20px;
}
.icon {
    font-size: 60px;
    margin-top: 60px;
}
.textFormat {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #5152C3;
}
.decoLinesContainer{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    width: 8%;
    height: 100vh;
}
.decoLinesContainer > div{
    border: 1px solid #7879F1;
    background: #7879F1;
    border-radius: 15px;
}

.decoLine1 {
    width: 2%;
    }
.decoLine2 {
    width: 4%;
    }
.decoLine3 {
    width: 6%;
    }
.decoLine4 {
    width: 8%;
    }
.decoLine5 {
    width: 10%;
    }

.signinContainer{
    width: 25%;
    height: 100%;
    background: linear-gradient(#A5A6F6 60%, #bcbdfc 70%, #E9E9F9 85%);
}