.pageContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profileContainer{
    width: 100vw;
    height: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.title {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #5152C3;
    text-transform: uppercase;
    margin-top: 40px;
}
.calendarBox{
    width: 100%;
    height: 50%;
}
.iconBox {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.iconHouse {
    font-size: 12rem;
}
.calendar,
.userInfo,
.notifications {
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid #7879F1;
}
.decoSingleLine{
    width: 3px;
    height: 65%;
    border: 1px solid #7879F1;
    background: #7879F1;
    border-radius: 15px;
}
.decoLinesContainer{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    width: 4%;
    height: 102%;
}
.decoLinesContainer > div{
    border: 1px solid #7879F1;
    background: #7879F1;
    border-radius: 15px;
}

.decoLine1 {
    width: 2%;
}
.decoLine2 {
    width: 4%;
}
.decoLine3 {
    width: 6%;
}
.decoLine4 {
    width: 8%;
}
.decoLine5 {
    width: 10%;
}
/* .logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.title {
    width: 40%;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}
.iconHouse {
    width: 20%;
    font-size: 60px;
    margin-top: 60px;
}
.pagesContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.pages {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: start;
    color: #5152C3;
    filter: none;
}
.logoutContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.langNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    background: #7879F1;
    width: 100%;
    height: 5vh;
}
.flag{
    font-size: 25px;
    border-radius: 50%;
    border:  2px solid white;
    margin-right: 2vh;
} */